
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "./normalize.css";
@import "./fonts.css";
@import "./settings.css";
@import "./burger.css";


.start-page {
    position: relative;
}

/**************HEADER****************************/

header {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
}

header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
}

.start-page .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.start-page .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.start-page .menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.start-page .menu a {
    color:#FFFFFF;
    font-family: "Sen-Regular", sans-serif;
    font-size: 16px;
    line-height: 150%;
}

.start-page .menu a:hover {
    color: #5221E6;
}

.logo {
    width: 79px;
    height: 24px;
    fill:#FFFFFF;
    padding-top: 32px;
}


/*media*/

@media all  and (max-width:768px) {

    .start-page {
        position: static;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    header {
        position: static;
    }
}

@media all and (max-width:450px) {

    .logo {
        padding-top: 24px;
    }
}


/*******************SECTION "ABOUT HERO"***********************/

.about-hero {
    background: -o-linear-gradient(left, #000000 37.5%, #181823 37.5%);
    background: -webkit-gradient(linear, left top, right top, color-stop(37.5%, #000000), color-stop(37.5%, #181823));
    background: linear-gradient(to right, #000000 37.5%, #181823 37.5%);
    width: 100vw;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-hero .wrapper {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 40px;
}

.content {
    margin-top: 23.5%;
    max-width: 738px;
    margin-bottom: 220px;
}

h1 {
    font-family: "Sen-Bold", sans-serif;
    font-size: 78px;
    line-height: 120%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .h1-grey-color {
    color: #FFFFFF80;
}

.content p {
    font-family: "Sen-Regular", sans-serif;
    font-size: 18px;
    line-height: 150%;
    margin-top: 35px;
}

.about-hero .content picture {
    max-width: 750px;
}

.about-hero .content img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 18.5%;
    right: 48vw;
    z-index: -1;
}


/*media*/

@media all and (max-width:1420px) {

   .content {
        margin-bottom: 20%;
    }
}


@media all and (max-width:1350px) {

    .content {
        max-width: 650px;
        margin-bottom: 25%;
    }

   h1 {
        font-size: 68px;
        line-height: 120%;
    }
    .content p {
        font-size: 16px;
        line-height: 150%;
    }
}

@media all and (max-width:1200px) {
    
    .content {
        max-width: 550px;
        margin-bottom: 30%;
    }

    h1 {
        font-size: 58px;
    }

    .content p {
        font-size: 16px;
    }

    .about-hero .content img {
        top: 15%;
    }
}

@media all and (max-width:1000px) {

    .about-hero {
        background:#000000;
    }

    .content {
        max-width: 480px;
        margin-top: 25%;
        margin-bottom: 15%;
    }

    h1 {
        font-size: 48px;
    }

    .about-hero .content img {
       top: 120px;
    }
}

@media all and (max-width:880px) {
    
    .content {
        max-width: 440px;
        margin-top: 30%;
    }

    h1 {
        font-size: 46px;
    }

    .about-hero .content img {
        top: 100px;
    }
}

@media all and (max-width:768px) {  
    .content {
        margin-top: 198px;
        margin-bottom: 220px;
        max-width: 408px;
    }

    h1 {
        font-size: 56px;
        max-width: 300px;
        position: relative;
    }
    .h1-grey-color {
        position: absolute;
        top: 270px;
        left: 0;
        width: 408px;
    }

    .content p {
        font-size: 18px;
        line-height: 150%;
        margin-top: 100px;
    }

    .about-hero picture {
        max-width: 384px;
    }

    .about-hero .content img {
        max-width: 100%;
        right: 50vw;
        top: 12%;
    }
}

@media all and (max-width:730px) {

    .content {
        margin-top: 250px;
        max-width: 350px;
    }

    h1 {
        font-size: 40px;
        max-width:none;
        position: static;
    }
    .h1-grey-color {
        position: static;
        width:inherit;
    }

    .content p {
        margin-top: 40px;
    }
}


@media all and (max-width:650px) {

    .content {
        margin-top: 750px;
        margin-bottom: 100px;
        max-width: 600px;
    }

    h1 {
        font-size: 56px;
    }

    .content p {
        font-size: 20px;
    }

.about-hero .content img {
        right: 0px;
        left: 0px;
        max-width: 100%;
        margin-top: 15px;
    }
}

@media all and (max-width:630px) {
        .content {
        margin-top: 700px;
    }
}

@media all and (max-width:590px) {
    .content {
        max-width: 530px;
        margin-top: 650px;
    }

    h1 {
        font-size: 50px;
    }
}

@media all and (max-width:530px) {
    .content {
        max-width: 500px;
        margin-top: 610px;
    }

    h1 {
        font-size: 48px;
    }
}

@media all and (max-width:480px) {

    .content {
        max-width: 480px;
        margin-top: 590px;
    }

    h1 {
        font-size: 46px;
    }
}

@media all and (max-width:460px) {
    
    .content {
        max-width: 450px;
        margin-top: 570px;
    }

    h1 {
        font-size: 40px;
    }

    .content p {
        font-size: 18px;
        line-height: 150%;
    }
}

@media all and (max-width:430px) {

    .content {
        max-width: 420px;
    }

    h1 {
        font-size: 38px;
    }
}

@media all and (max-width:410px) {

    .content {
        max-width: 400px;
        margin-top: 500px;
    }

    h1 {
        font-size: 35px;
    }
}

@media all and (max-width:390px) {

    .content {
        max-width: 380px;
        margin-top: 490px;
    }

    h1 {
        font-size: 35px;
    }
}

@media all and (max-width:360px) {

    .content {
        max-width: 360px;
        margin-top: 410px;
        margin-bottom: 65px;
    }

    h1 {
        font-size: 32px;
    }

    .content p {
        margin-top: 18px; 
    }

    .about-hero .content img {
        top: 55px;
    }
}

@media all and (max-width:330px) {

    .content {
        max-width: 315px;
        margin-top: 390px;
    }

    h1 {
        font-size: 29px;
    }
}


/*******************SECTION "ABOUT HERO WORK"***********************/

.page-name {
    font-family: "Sen-Bold", sans-serif;
    line-height: 150%;
    color: #8491A0;
    text-transform: uppercase;
    margin-top: 119px;
}

h2 {
    font-family: "Sen-Bold", sans-serif;
    font-size: 55px;
    line-height: 120%;
}

.h2-width {
    max-width: 690px;
    margin-top: 12px;
}

.containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.container {
    max-width: 416px;
}

.container .numbering {
    font-family: "Sen-Regular", sans-serif;
    font-size: 117px;
    line-height: 120.5%;
    margin-top: 38px;
    color: #8491A0;
}

.container .name {
    font-family: "Sen-Bold", sans-serif;
    font-size: 24px;
    line-height: 150%;
}

.name .color1 {
    color:#3CC74E;
}

.name .color2 {
    color: #609BFF;
}

.name .color3 {
    color:#E95D90;
}

.container .discription {
    line-height: 150%;
    color: #8491A0;
    margin-top: 22px;
    margin-bottom: 145px;
}

/*media*/

@media all and (max-width:1360px) {
    .container .discription {
        max-width: 350px;
    }
}

@media all and (max-width:1250px) {
    .container .discription {
        max-width: 300px;
    }
}

@media all and (max-width:1180px) {
    .container .name {
        max-width: 300px;
        font-size: 21px;
    }
}

@media all and (max-width:1080px) {
    .container {
        max-width: 197px;
        -webkit-box-pack:normal;
            -ms-flex-pack:normal;
                justify-content:normal;
        margin-right: 16px;
    }
    .container .name {
        max-width: 197px;
        font-size: 24px;
    }

    .container .discription {
        max-width: 197px;
    }
}

@media all and (max-width:900px) {

    .page-name {
        margin-top: 30px;
    }

    .container .discription {
        margin-bottom: 80px;
    }
}

@media all and (max-width:650px) {

    h2 {
        font-size: 45px;
    }
}

@media all and (max-width:600px) {

    h2 {
        font-size: 45px;
    }
    
    .h2-width {
        max-width: 500px;
    }

    .containers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .container {
        max-width: 550px;
        margin-top: 40px; ;
    }

    .container:nth-child(3) {
        max-width: 100%;
        margin-bottom: 48px;
    }

    .container:nth-child(2), .container:nth-child(3) {
        margin-top: 20px; ;
    }

    .container .numbering {
        margin-top: 0px;
    }

    .container .name {
        max-width: 550px;
    }
    
    .container .discription {
        margin-top: 22px;
        margin-bottom: 0px;
        max-width: 550px;
    }

}

@media all and (max-width:500px) {

    h2 {
        font-size: 40px;
    }
}

@media all and (max-width:450px) {

    h2 {
        font-size: 35px;
    }
}

@media all and (max-width:400px) {

    h2 {
        font-size: 32px;
    }
}

@media all and (max-width:360px) {

    h2 {
        font-size: 32px;
    }
    
    .h2-width {
        max-width: 320px;
    }
    
    .container {
        max-width: 320px;
        margin-top: 40px;
    }
}


/*******************SECTION "ABOUT HERO VALUAES", SECTION "HERO INSTAGRAM" ***********************/

.about-hero-values, .about-hero-instagram {
    background-color:#FFF3E4;
}

.about-hero-values .wrapper, .about-hero-instagram .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
}

.about-hero-values .left-part, .about-hero-instagram .left-part {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 72px;
}

.about-hero-values .left-part h2, .about-hero-instagram .left-part h2 {
    color: #181823;
    margin: 124px 0 0 0;
}

.about-hero-values .left-part p, .about-hero-instagram .left-part p {
    max-width: 576px;
    font-size: 18px;
    line-height: 150%;
    color:#5B6876;
    margin-top: 24px;
    margin-bottom: 132px;
}

.about-hero-values a, .about-hero-instagram a {
    color: #181823;
    line-height: 150%;
    border-bottom: 1px solid #8491A0;
    margin-bottom: 120px;
}

.about-hero-values a {
    max-width: 120px;
}

.about-hero-instagram a {
    max-width: 128px;
}

.about-hero-values a:hover, .about-hero-instagram a:hover {
    font-weight: bold;
}

.about-hero-values .right-part, .about-hero-instagram .right-part  {
    width: 50%;
}

.about-hero-values img, .about-hero-instagram img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.about-hero-values img {
    -o-object-position: center;
       object-position: center;
}

.about-hero-instagram img {
    -o-object-position: left;
       object-position: left;
}

/*media*/

@media all and (min-width:1441px) {

    .about-hero-values picture, .about-hero-instagram picture {
        display: none;
    }

    .about-hero-values {
        background-image: url(../media/section3-philosophy/circle_min.jpg);
        background-position: center;
    }
    
    .about-hero-instagram {
        background-image: url(../media/section6-instagram/jet-min.jpg);
        background-position: center;
    }
    
    .about-hero-values, .about-hero-instagram {
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-size: 50%;
    }
}

@media all and (max-width:1250px) {

    .about-hero-values .left-part p, .about-hero-instagram .left-part p {
        margin-right: 30px;
    }
}

@media all and (max-width:768px) {

    .about-hero-values .left-part, .about-hero-instagram .left-part {
        padding-left: 40px;
    }

    .about-hero-values .left-part h2, .about-hero-instagram .left-part h2 {
        margin-top: 85px;
    }

    .about-hero-values .left-part p  {
        max-width: 304px;
        margin-bottom: 65px
    }

    .about-hero-instagram .left-part p {
        max-width: 304px;
        margin-bottom: 125px;
    }

    .about-hero-values a  {
        margin-bottom: 78px;
    }

    .about-hero-instagram a  {
        margin-bottom: 90px;
    }
}

@media all and (max-width:750px) {
    .about-hero-values .left-part h2, .about-hero-instagram .left-part h2 {
        font-size: 45px;
    }
}

@media all and (max-width:650px) {

    .about-hero-values .wrapper, .about-hero-instagram .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .about-hero-values .left-part, .about-hero-instagram .left-part {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .about-hero-values .left-part h2 {
        margin-top: 90px;
    }

    .about-hero-instagram .left-part h2 {
        margin-top: 40px;
    }

    .about-hero-instagram .left-part p {
        margin-top: 15px;
        margin-bottom: 120px;
        max-width: 650px;
    }

    .about-hero-values .left-part p  {
        margin-bottom: 82px;
        max-width: 650px;
    }
        
    .about-hero-values a, .about-hero-instagram a {
        margin-bottom: 40px;
    }
    

    .about-hero-values .right-part, .about-hero-instagram .right-part  {
       width: 100%;
    }

    .about-hero-instagram img {
        -o-object-position:top;
           object-position:top;
        display: block;
    }

    .about-hero-values img {
        display: block;
    }
}

@media all and (max-width:450px) {

    .about-hero-values .left-part, .about-hero-instagram .left-part {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-hero-values .left-part h2, .about-hero-instagram .left-part h2 {
        font-size: 35px;
    }
}


@media all and (max-width:360px) {

    .about-hero-values .left-part h2, .about-hero-instagram .left-part h2 {
        font-size: 32px;
    }
}


/*******************SECTION "ABOUT HERO SKILLSET"***********************/

.about-hero-skillset .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
}

.left-section {
    margin-top: 123px;
}

.central-section {
    margin-top: 118px;
}

.right-section {
    margin-top: 113px;
}


.left-section, .central-section {
    margin-right: 72px;
}

.left-section  h2 {
    margin-bottom: 24px;
}

.about-hero-skillset p {
    max-width: 368px;
    color: #8491A0;
}

.left-section p {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 48px;
}

h3 {
    font-family: "Sen-Bold", sans-serif;
    font-size: 24px;
    line-height: 150%;
}

.central-section h3 {
    margin-top: 22px;
    margin-bottom: 12px;
}

.right-section h3 {
    margin-top: 19px;
    margin-bottom: 12px;
}

.central-section p, .right-section p {
    line-height: 150%;
    margin-bottom: 48px;
}

/*media*/

@media all and (max-width:850px) {
    .about-hero-skillset .wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .left-section {
        margin-top: 80px;
        margin-right: 0px;
    }

    .central-section, .right-section {
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .left-section p {
        max-width: 700px;
        margin-bottom: 42px;
    }
    .central-section p, .right-section p {
        max-width: 284px;
    }

    .central-section p {
        margin-right: 70px;
    }
}


@media all and (max-width:720px) {
       
    .central-section p, .right-section p {
        max-width: 260px;
    }

    .central-section p {
        margin-right: 60px;
    }
}

@media all and (max-width:650px) {
       
    .left-section p {
        max-width: 600px;
    }

    .central-section p, .right-section p {
        max-width: 230px;
    }

    .central-section p {
        margin-right: 60px;
    }
}

@media all and (max-width:550px) {
       
    .left-section p {
        max-width: 500px;
    }

    .central-section p, .right-section p {
        max-width: 500px;
    }

    .central-section p {
        margin-right: 0px;
    }
}


@media all and (max-width:450px) {
    .about-hero-skillset .wrapper {
        margin-top: 0px;
    }

    .left-section p {
        max-width: 400px;
        margin-bottom: 60px;
    }

    .central-section p {
        margin-right: 0px;
    }

    .swiper-container {
        margin-top: 48px;
    }
}

/*svg*/

.square {
    width:32px;
    height: 32px;
    fill:#5221E6;
}

.circle {
    width:32px;
    height: 32px;
}
.circle circle {
    stroke:#5221E6;
    stroke-width: 2;
    stroke-dasharray: 10 10;
}
.circle path {
    fill: #5221E6;
}

.pen {
    width: 36px;
    height: 40px;
    fill: #5221E6;
}

.camera {
    width: 32px;
    height: 27px;
    fill: #5221E6;
}

/****************SLLIDER**************/

.swiper-container {
    border-bottom: 1px solid #181823;
}

.swiper-container {
    height: 140px;
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.swiper-slide {
    border: 1px solid #181823;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    width: auto;
}

.swiper-slide svg {
    fill: #8491A0;
}

.swiper-slide .svg1 {
    width: 85px;
    height:21px;
}

.swiper-slide .svg2 {
    width: 71px;
    height:29px;
}

.swiper-slide .svg3 {
    width: 28px;
    height:29px;
}

.swiper-slide .svg4 {
    width: 21px;
    height:21px;
    fill-rule:evenodd;
    clip-rule:evenodd;
}

.swiper-slide .svg5 {
    width: 154px;
    height:25px;
}

.swiper-slide .svg6 {
    width: 42px;
    height:21px;
}

/***************SECTION "HERO-PROJECTS"**************/

.hero-projects .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.wr-projects1, .wr-projects2 {
    min-width: 49%;
    margin-top: 115px;
}

.wr-projects1 {
    margin-bottom: 130px;
}

.wr-projects2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.wr-projects1 {
    margin-right: 24px;
}

.hero-projects .page-name {
    margin-top: 0;
    margin-bottom: 16px;
}

.hero-projects h2 {
    max-width: 572px;
    margin-bottom: 72px;
}

.wr-project {
    min-height: 830px;
    background-color: #181823;
    margin-bottom: 24px;
}

.wr-project h3 {
    margin: 40px 0px 13px 32px;
}
.wr-project p {
    color: #8491A0;
    font-size: 18px;
    line-height: 150%;
    margin: 0px 32px 40px;
}

.hero-projects a {
    font-family: "Sen-Bold", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    border: 1px solid #5221E6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 24px 32px;
    margin-top: 65px;
    max-width: 250px;
}

.hero-projects a:hover {
    color: #5221E6;
}

.hero-projects picture {
    max-width: 636px;
}
.hero-projects img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

/*media*/

@media all and (max-width:768px) {

    .hero-projects .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 25px;
        }

    .wr-projects1, .wr-projects2 {
        min-width: 100%;
        margin-top: 0px;
    }

    .wr-projects1 {
        margin-bottom: 0px;
    }

    .wr-project {
        margin-bottom: 48px;
    }

    .hero-projects .page-name {
        margin-top: 80px;
    }

    .hero-projects a {
        visibility: hidden;
        position: absolute;
        left: -99999px;
    }

    .hero-projects h2 {
        max-width: 688px;
        margin-bottom: 72px;
    }
}

@media all and (max-width:450px) {

    .wr-projects1 {
        margin-top: 34px;
    }

    .hero-projects .page-name {
        margin-bottom: 10px;
    }

    .hero-projects h2 {
        margin-bottom: 80px;
    }

    .wr-project {
        margin-bottom: 50px;
        min-height: 750px;
    }

    .hero-projects .page-name {
        margin-bottom: 14px;
    }
    
    .wr-project p {
        margin-bottom: 0px;
    }
}

/***************SECTION "HERO DRIBBBLE"**************/

.about-hero-dribbble .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.about-hero-dribbble h2 {
    margin-top: 120px;
    margin-left: 110px;
}

.about-hero-dribbble p {
    max-width: 650px;
    font-size: 18px;
    line-height: 150%;
    color: #8491A0;
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 38px;
}

.about-hero-dribbble a {
    color: #FFFFFF;
    line-height: 150%;
    border-bottom: 1px solid #8491A0;
    max-width: 173px;
    margin-left: 110px;
}

.about-hero-dribbble a:hover {
    color: #5221E6;
    border-bottom:  1px solid #5221E6;
}

.about-hero-dribbble picture {
    max-width: 1076px;
}

.about-hero-dribbble img {
    margin-left: 110px;
    margin-top: 126px;
    margin-bottom: 120px;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
}

/*media*/

@media all and (max-width:1300px) {

    .about-hero-dribbble h2 {
        margin-left: 0px;
    }
    
    .about-hero-dribbble p {
        margin-left: 0px;
    }
    
    .about-hero-dribbble a {
        margin-left: 0px;
    }

    .about-hero-dribbble img {
        margin-left: 0px;
    }
}


@media all and (max-width:768px) {

    .about-hero-dribbble h2 {
    margin-top: 80px;
    }
}

@media all and (max-width:450px) {

    .about-hero-dribbble h2 {
        font-size: 55px;
    }

    .about-hero-dribbble img {
        margin-top: 70px;
    }
}

/***************SECTION "ABOUT COMMENTS"**************/

.about-comments .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 120px;
}

.wr-comments-left, .wr-comments-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 49%;
}

.wr-comments-left {
    margin-right: 24px;
}

.wr-comments-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 11px;
}

.about-comments h2 {
    max-width: 588px;
    margin-bottom: 24px;
}

.wr-comments-left p {
    font-size: 18px;
    line-height: 150%;
    color:#5B6876;
    margin-bottom: 37px;
    max-width: 570px;
}

.wr-comments-left a {
    color: #FFFFFF;
    line-height: 120%;
    border-bottom: 1px solid #8491A0;
    max-width: 148px;
    text-align: left;
}

.wr-comments-left a:hover {
    color: #5221E6;
    border-bottom:  1px solid #5221E6;
}

.wr-comment {
    border: 1px solid #5B6876;
    margin-bottom: 115px;
}

.wr-comment img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.wr-comment p {
    font-family: "Sen-Bold", sans-serif;
    font-size: 24px;
}

.wr-comment span {
    display: block;
    font-size: 18px;
    line-height: 150%;
    color: #8491A0;
    margin-left: 64px;
    margin-bottom: 4px;
}

.wr-comment .bold {
    font-family: "Sen-Bold", sans-serif;
}

.wr-comment-text1, .wr-comment-text2, .wr-comment-text3 {
    padding-bottom: 64px;
} 

.wr-comment-text1 p {
    line-height: 150%;
    margin: 58px 58px 63px 64px;
}

.wr-comment-text2 p {
    line-height: 120%;
    margin: 60px 62px 67px 64px;
}

.wr-comment-text3 p {
    line-height: 120%;
    margin: 60px 62px 67px 64px;
}

/*media*/

@media all and (max-width:768px) {

    .about-comments h2 {
        max-width: 346px;
    }

    .about-comments .wrapper {
        margin-top: 38px;
    }

    .wr-comments-left {
        margin-right: 20px;
    }

    .wr-comment-text1 p {
        margin: 23px 25px 65px 25px;
    }

    .wr-comment-text2 p {
     margin: 30px 15px 95px 25px;
    }

    .wr-comment-text3 p {
        margin: 30px 15px 100px 25px;
    }

    .wr-comment span {
        margin-left: 25px;
        margin-bottom: 4px;
    }

    .wr-comment {
        margin-bottom: 25px;
    }

    .wr-comment-text3 {
        padding-bottom: 32px;
    } 

}

@media all and (max-width:600px) {

    .about-comments .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .about-comments h2 {
        max-width: 600px;
    }
    .wr-comments-left p {
        max-width: 600px;
    }

    .wr-comments-left a {
        margin-bottom: 70px;
    }
}


@media all and (max-width:450px) {
    .about-comments .wrapper {
        margin-top: -18px;
    }

    .wr-comment-text1 p {
        margin: 32px 32px 64px 32px;
    }
    
    .wr-comment-text2 p {
        margin: 32px 32px 64px 32px;
    }
    
    .wr-comment-text3 p {
        margin: 32px 32px 64px 32px;
    }

    .wr-comment-text1, .wr-comment-text3 {
        padding-bottom: 30px;
    }

    .wr-comment-text2 {
        padding-bottom: 0px;
    }

    .wr-comment {
        margin-bottom: 35px;
    }
    
    .wr-comment-text2 {
        margin-bottom: 40px;
    } 
}

/***************SECTION "ABOUT HERO PHOTO"**************/

.about-hero-photo h2 {
    margin-top: 125px;
    margin-bottom: 24px;
}

.about-hero-photo p {
    font-size: 18px;
    line-height: 150%;
    color:#5B6876;
    max-width: 588px;
    margin-bottom: 64px;
}

.tabs {
    margin-bottom: 120px;
}

.tabs-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 490px;
}

.tabs_nav-btn {
    background-color:#000000;
    font-family: "Sen-Bold", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color:#FFFFFF;
    border: 1px solid #5221E6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12px 16px;
    margin-right: 24px;
}

.tabs_nav-btn:hover {
    background-color:#5221E6;
    cursor: pointer;
}

.tabs_nav-btn.active {
    background-color:#5221E6;
    cursor: pointer;
}

.tabs-content {
    margin-top: 40px;
}

.tabs_item {
    display: none;
}

.tabs_item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
} 

.tabs_item picture {
    margin-right: 24px;
    width: 25%;
}

.tabs_item picture:nth-child(4) {
    margin-right: 0px;
}

/*media*/

@media all and (max-width:1400px) {

    .tabs_item.tabs_item.active {
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
    }
    
    .tabs_item.active picture {
        width: 45%;
        margin-bottom: 24px;
    }

    .tabs_item.active img {
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
}

@media all and (max-width:768px) {
    .about-hero-photo h2 {
            margin-top: 145px;
        }
    .about-hero-photo p {
        max-width: 689px; 
    }
}

@media all and (max-width:600px) {

    .tabs_item.active picture {
        width: 100%;
        margin-bottom: 24px;
        margin-right: 0px;
    }

    .tabs_item.active img {
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .tabs {
        margin-bottom: 48px;
    }
}

@media all and (max-width:550px) {

    .tabs-nav {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .tabs_nav-btn {
        width: 148px;
        padding: 12px 16px;
        margin-right: 0px;
    }
    
    .tabs_nav-btn:nth-child(odd) {
        margin-right: 24px;
    }

    .tabs_nav-btn:nth-child(1), .tabs_nav-btn:nth-child(2)  {
        margin-bottom: 24px;
    }
}

@media all and (max-width:450px) {

    .about-hero-photo h2 {
        margin-top: -45px;
        margin-bottom: 24px;
    }
}

@media all and (max-width:350px) {

    .tabs_nav-btn {
        width: 0px;
        min-width: 100%;
        margin-bottom: 24px;
    }

    .tabs_nav-btn:nth-child(odd) {
        margin-right: 0px;
    }
}

/***************SECTION "FEEDBACK"**************/

.feedback-page .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wr-feedback-left {
    margin-right: 24px;
    margin-top: 119px;
    width: 50%;
}

.wr-feedback-right {
    margin-top: 112px;
    width: 50%;
}

.feedback-page h2 {
    margin-left: 110px;
    margin-bottom: 22px;
}

.feedback-page .wr-feedback-left p {
    font-size: 18px;
    line-height: 150%;
    color:#5B6876;
    max-width: 526px;
    margin-left: 110px;
    margin-bottom: 463px;
}

.wr-feedback-right p {
    line-height: 150%;
}

.feedback-page form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 83%;
}

.feedback-page form input, .feedback-page form textarea {
    margin-top: 8px;
    background-color:#181823;
    border: none;
    font-family: "Sen-Regular", sans-serif;
    color:#FFFFFF;
    font-size: 16px;
}

.feedback-page form input {
    height: 50px;
    margin-bottom: 38px;
    padding-left: 24px;
    padding-right: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


.feedback-page form input:focus {
    outline: none;
}

.feedback-page form textarea {
    min-height: 95px;
    margin-bottom: 36px;
    resize: none;
    padding: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.feedback-page form textarea:focus {
    outline: none;
}

.feedback-page form .button {
    height: 75px;
    background-color:#5221E6;
    font-size: 18px;
    line-height: 150%;
    color:#FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.feedback-page form .button:hover {
    font-weight: bold;
    cursor: pointer;
}


/*media*/

@media all and (max-width:1400px) {

    .wr-feedback-left {
        margin-right: 50px;
    }

    .feedback-page h2 {
        margin-left: 0px;
    }
    
    .feedback-page .wr-feedback-left p {
        margin-left: 0px;
    }

}


@media all and (max-width:1000px) {
    .wr-feedback-left {
        margin-top: 100px;
    }
    
    .wr-feedback-right {
        margin-top: 100px;
    }

    .feedback-page .wr-feedback-left p {
        margin-bottom: 400px;
    }

    .wr-feedback-left {
        margin-right: 30px;
    }

}

@media all and (max-width:900px) {

    .wr-feedback-left {
        margin-right: 20px;
    }
}

@media all and (max-width:768px) {

    .wr-feedback-left {
        margin-top: 5px;
        margin-right: 10px;
    }

    .wr-feedback-right {
        margin-top: 5px;
    }
       
    .feedback-page h2 {
        max-width: 346px;
        margin-bottom: 22px;
    }
    
    .feedback-page .wr-feedback-left p {
        margin-bottom: 330px;
        max-width: 332px;
    }

    .feedback-page form {
        max-width: 100%;
    }
}

@media all and (max-width:700px) { 
    
    .feedback-page h2 {
        max-width: 300px;
    }
    
    .feedback-page .wr-feedback-left p {
        max-width: 300px;
    }
}

@media all and (max-width:600px) {  

    .feedback-page .wrapper {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
    }

    .wr-feedback-left {
        margin-top: 48px;
        margin-right: 0px;
        width: 100%;
    }
    
    .wr-feedback-right {
        margin-top: 48px;
        width: 100%;
    }
    
    .feedback-page h2 {
        margin-left: 0px;
        margin-bottom: 16px;
        max-width: 560px;
    }
    
    .feedback-page .wr-feedback-left p {

        max-width: 560px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    
      .feedback-page form {
        max-width: 100%;
    }
}

/***************FOOTER"**************/

.footer {
    width: 100%;
    background-color: #181823;
}

.footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 76px;
    width: 59.5%;
}

.footer-left .logo {
    width:131px;
    height:40px;
    padding-top: 0px;
    margin-bottom: 32px;
}

.social-networks svg {
    margin-right: 16px;
    margin-bottom: 142px;
}

.social-networks a svg:hover {
    -webkit-transform: scaleX(1.2);
        -ms-transform: scaleX(1.2);
            transform: scaleX(1.2);
}

.logo-twitter, .logo-ball {
    fill-rule:evenodd;
    clip-rule:evenodd;
}
.logo-twitter {
    width:24px;
    height:24px;
    fill:#26A7DE;
}

.logo-dribbble {
    width:20px;
    height:20px;
    fill:#E94B88;
}

.logo-linkedin {
    width:18px;
    height:18px;
    fill:#0077B5;
}

.footer-left p {
    color:#8491A0;
    margin-bottom: 80px;
}

.footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40.5%;
    margin-top: 90px;
}

.footer-right nav li {
    width: 218px;
    height: 48px;
}

.footer-right nav a{
    color: #FFFFFF;
    line-height: 150%;
}

.footer-right nav a:hover {
    color: #5221E6;
}


/****************media*****************/

@media all and (max-width:1250px) {
    .footer-right nav li {
        width: 180px;
    }
}

@media all and (max-width:1050px) {
    .footer-right nav li {
        width: 150px;
    }
}

@media all and (max-width:900px) {
    .footer-right nav li {
        width: 130px;
    }
}

@media all and (max-width:768px) {
    
    .footer-left {
        margin-top: 80px;
        width: 51%;
    }

    .footer-left p {
        max-width: 329px;
    }

    .footer-right {
        margin-top: 95px;
    }

    .footer-right {
        width: 49%;
    }

    .footer-right nav li {
        width: 154px;
        height: 48px;
    }
}

@media all and (max-width:600px) {

    .footer .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-left {
        margin-top: 48px;
        width: 100%;
        position: relative;
    }

    .social-networks svg {
        margin-right: 0px;
        margin-bottom: 48px;
    }

    .footer-left p {
       position: absolute;
       top: 500px;
       margin-bottom: 0px;
    }

    .footer-right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 88px;
    }
}